<mat-toolbar color="primary" style="height: 100px; background-color: black !important; " role="navigation">
  <!-- <button style="position: absolute; right: 0; font-size: 30px; margin-right: 100px; cursor: pointer" (click)="changeColors()" mat-icon-button>
    <mat-icon>palette</mat-icon>
  </button> -->
  <!-- <mat-icon class="material-icons"style="position: absolute; right: 0; font-size: 30px; margin-right: 50px; cursor: pointer" (click)="changeSize1()">
    zoom_in
  </mat-icon>

  <mat-icon class="material-icons"style="position: absolute; right: 0; font-size: 30px; margin-right: 20px; cursor: pointer" (click)="changeSize2()">
    zoom_out
  </mat-icon> -->
    
    <div style="display: flex; flex-direction: column;">
      <span style="margin-left: 20px">Muzyczny GPS</span>
      <img  class="front transparent"
      alt="logo aplikacji"
    src="assets/logo.png" class="logo"
  /> 
  </div>

  <nav class="nav-container" style="margin-left: 10px;">
    <button class="block" [routerLink]="''">Strona główna</button>
    <button class="block" [routerLink]="'/memory-game'">Muzyczne memory</button>
    <button class="block block2" [routerLink]="'/game'">Muzykoterapeutyczne zgadnij kto to, co to?</button>
    <button class="block" [routerLink]="'/parent-page'">Panel dla rodzica</button>
    <button class="block" [routerLink]="'/about-me'" style="width: 120px;">Twórcy</button>
    <button class="block" [routerLink]="'/curiosities'" style="width: 120px;">Ciekawostki</button>
    <button class="block" [routerLink]="'/note'">Nota prawna</button>
    <button class="block" [routerLink]="'/games-description'" style="width: 120px;">Gry</button>
</nav>

  
  </mat-toolbar>