<app-navigation-bar></app-navigation-bar>
<div class="container"> 
    <div style="width: 50%; margin-top: 30px; margin-left: auto; margin-right: auto; background-color: yellow; padding: 15px; border-radius: 10px;">
    <b> Ciekawostki:  </b>
</div>
   
    <div class="description">
        <ul>
            <li>Antonio Vivaldi słynął z niezwykłej wyobraźni. Swoje koncerty często opatrywał tytułami, które zapowiadały ich charakter (np. cykl czterech koncertów skrzypcowych pt. „Cztery pory roku”).</li>
            <li>Skrzypce są najmniejszym oraz najwyżej brzmiącym instrumentem skrzypcowym. Ich pierwsze graficzne wyobrażenie pochodzi z 1529 roku z malowideł, które znajdują się w kościele św. Krzysztofa w Vercelli (Włochy). </li>
            <li>Jednym z najstarszych fletów jest fletnia Pana składająca się z piszczałek o różnych długościach, połączonych ze sobą. </li>
            <li>Jedną z najbardziej znanych partii klarnetowych jest solo rozpoczynające „Błękitną rapsodię” George’a Gershwina.  </li>
           <li>Saksofon jest instrumentem zaprojektowanym w 1840 roku przez belgijskiego konstruktora Adolfa Saxa. </li>
           <li>Fortepian jest najbardziej popularnym instrumentem solowym oraz koncertowym. </li>
           <li>Suita „Peer Gynt” powstała do dramatu Henryka Ibsena opowiadającego o baśniowej postaci (Peer Gyncie) znanej z norweskich legend. </li>
           <li>Dymitr Szostakowicz jest rosyjskim kompozytorem, który skomponował aż 15 symfonii. </li>
           <li>Fryderyk Chopin jest polskim kompozytorem, który w swojej twórczości inspirował się sporo muzyką ludową. Motywy te można odnaleźć np. w „Fantazji na tematy polskie” op. 13, „Rondzie a’la Mazur” op. 5 oraz w polonezach i mazurkach. </li>
          </ul>


    </div>
</div>