<app-navigation-bar></app-navigation-bar>
<div class="container"> 
    <div style="width: 80%; height: 100%; margin-top: 100px; margin-left: auto; margin-right: auto; display: flex; flex-direction: row;">
        <img  class="photo"
        src="assets/autor.jpg"
      /> 
        <div style="display: flex; flex-direction: column; width: 80%; margin-top: 30px;">
    <b> Gabriela Tencza</b>
    <div class="description">
         
        Autorka projektu aplikacji 
        Studentka III roku studiów licencjackich na specjalności muzykoterapia w Akademii Muzycznej im. K. Lipińskiego we Wrocławiu, a także III roku filologii polskiej (specjalność: logopedia) na Uniwersytecie Wrocławskim. Członkini Studenckiego Koła Naukowego Muzykoterapii.  Oprócz tego popołudniami rozwija swoje umiejętności w zakresie gry na klarnecie w Państwowej Szkole Muzycznej II st. im. R. Bukowskiego. Redaktorka oraz autorka wpisów o tyflomuzykoterapii na stronie Dotyk Muzyki. Pracę z dziećmi rozpoczęła w 2018 roku jako lektorka kół naukowych „Wiedza nas bawi” organizowanych przez Fundację Omniveda we wrocławskich szkołach. Swoje doświadczenie rozbudowuje w czasie licznych praktyk oraz szkoleń.
        

    </div>
</div>
    </div>
</div>