<app-navigation-bar></app-navigation-bar>
<div *ngIf="!showCorrectMessage && !showWrongMessage && !endGame" style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    
    <ng-container *ngIf="!game2Start">
    <div style="font-size: 24px; margin-bottom: 20px;"> Kliknij start </div>
    <button mat-raised-button color="primary" (click)="play()"> START </button>
</ng-container>

  <div *ngIf="game2Start" >
    <div style="font-size: 30px; margin-left: auto; margin-right: auto; margin-bottom: 30px; width: 100%;"> Odgadnij kategorię utworu</div>
   
    <button mat-raised-button color="primary"  [disabled]="sound" class="button3" (click)="answer('pory_roku')"> Pora roku </button>
    <button mat-raised-button color="primary"  [disabled]="sound" class="button3" (click)="answer('miejsca')"> Miejsce </button>
    <button mat-raised-button color="primary"  [disabled]="sound" class="button3" (click)="answer('bajki')"> Postać z bajki </button>
    <button mat-raised-button color="primary"  [disabled]="sound" class="button3" (click)="answer('osoby')"> Osoba </button>
    <button mat-raised-button color="primary"  [disabled]="sound" class="button3" (click)="answer('polska')"> Region polski </button>
    <button mat-raised-button color="primary"  [disabled]="sound" class="button3" (click)="answer('pory_dnia')"> Pory dnia </button>
    <button mat-raised-button color="primary"  [disabled]="sound" class="button3" (click)="answer('taniec')"> Taniec </button>
    <div style="cursor: pointer; display: flex; flex-direction: row; margin-top: 20px; font-size: 20px; justify-content: center; align-items: center;" (click)="playAgain()">
    <mat-icon>play_circle</mat-icon><div>Odtwórz ponownie</div>
    </div>
  </div>

 

</div>

  <div *ngIf="showCorrectMessage" style="color: green;width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; font-size: 30px;"> Brawo! Prawidłowa odpowiedź</div>
 
  <div *ngIf="showWrongMessage" style="color: red;width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; font-size: 30px;"> Zła odpowiedź. Spróbuj jeszcze raz</div>

  <div *ngIf="endGame" style="color: green;width: 100%; height: 100%; flex-direction: column; display: flex; align-items: center; justify-content: center; font-size: 30px;"> Wygrana
    <div style="font-size: 24px; margin-bottom: 20px; color: white; margin-top: 5px;"> Aby zagrać ponownie kliknij start</div>
    <button mat-raised-button color="primary" (click)="play()"> START </button> </div>