<router-outlet></router-outlet>

<app-navigation-bar></app-navigation-bar>


<div *ngIf="!st" style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column;">
  <h1> Naciśnij start aby rozpocząć grę</h1>
<button mat-raised-button color="primary" (click)="start()" style="width: 300px; height: 40px; padding: 2px; font-size: 30px"> START </button>
</div>
<div *ngIf="st && !startGame" style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column">
  
    <h1> Wybierz poziom trudności</h1>
    <div style="display: flex; flex-direction: row;">
    <button mat-raised-button color="primary" (click)="level('easy')">Poziom łatwy</button>
    <button mat-raised-button color="primary" (click)="level('medium')" style="margin-left: 5px; margin-right: 5px;">Poziom średni</button>
    <button mat-raised-button color="primary"(click)="level('hard')">Poziom trudny</button>
    </div>
</div>
<div  style="width: 100%; height: 90%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
<div class="container" *ngIf="startGame">
  
  <div *ngIf="cards.length > 0" style="display: flex; flex-direction: column;">
    <div *ngFor="let card of boardH; let w = index" class="row" style="display: flex; flex-direction: row;">  
      <div *ngFor="let card of boardW; let h = index" class="col">         
          <app-card           
            [card]="cards[w*boardW.length+h]"          
            (clicked)="handleCardClick($event)"          
          ></app-card>
      </div>   
    </div>
    
  </div>  
</div>
<div style="color: white; font-size: 20px; padding: 3px;" *ngIf="startGame">
<div class="col-12" *ngIf="unsolved > 0">
  Pozostałe pary: {{unsolved}}      
</div> 

<div class="col-12" style="margin-top: 3px; margin-bottom: 3px;">
  Ilość kliknięć: {{clicks}}
</div>          
<div class="col-12" *ngIf="unsolved == 0">
  <h2>Wygrałeś!</h2>  
  </div> 
</div>
    <button *ngIf="startGame" mat-raised-button color="primary" (click)="selectPoziom()" style="font-size: 24px; margin-top: 5px;">Zagraj ponownie</button> 

  </div>

 
