<app-navigation-bar></app-navigation-bar>
<div class="container"> 
    <div style="width: 50%; margin-top: 100px; margin-left: auto; margin-right: auto; background-color: yellow; padding: 15px; border-radius: 10px;">
    <b> Mail: <em>muzycznygps@gmail.com</em>  </b>
</div>
    <div style="width: 50%; margin-top: 20px; margin-left: auto; margin-right: auto; background-color: yellow; padding: 15px; border-radius: 10px;">
    <div class="description">
        Szanowni Państwo, <br /> <br />
        chcąc nieustannie rozwijać i rozbudowywać swoją aplikację zależy mi na poznaniu Państwa opinii oraz spostrzeżeń związanych z funkcjonowaniem Muzycznego GPS-u, a także zamieszczonych na nim gier. Liczę, że udzielone informacje pozwolą mi dostosowywać aplikację do potrzeb dzieci. Zapraszamy do kontaktu!  


    </div>
    </div>
</div>