<app-navigation-bar></app-navigation-bar>
<div class="container"> 
    <div style="width: 50%; margin-top: 100px; margin-left: auto; margin-right: auto;">
    <b> Mail: <em>muzycznygps@gmail.com</em>  </b>
    <div class="description">
        Szanowni Państwo, 
chcąc nieustannie rozwijać, a także rozbudowywać naszą aplikację zależy nam na poznaniu Państwa opinii oraz spostrzeżeń związanych z funkcjonowaniem Muzycznego GPS-u i zamieszczonych na nim gier. Liczymy, że udzielone informacje pozwolą nam dostosowywać aplikację do potrzeb dzieci. Zapraszamy do kontaktu! 


    </div>
    </div>
</div>