<app-navigation-bar></app-navigation-bar>
<div class="container"> 
    <div style="width: 50%; margin-top: 100px; margin-left: auto; margin-right: auto;">
    <b> Nota prawna </b>
    <div class="description">
        Zgodnie z Ustawą o Prawie Autorskim i Prawach Pokrewnych z dnia 4 lutego 1994 roku (Dz.U.94 Nr 24 poz. 83, sprost.: Dz.U.94 Nr 43 poz.170) wykorzystywanie autorskich pomysłów, rozwiązań, kopiowanie, rozpowszechnianie zdjęć, fragmentów grafiki, tekstów oraz opisów w celach zarobkowych, bez zezwolenia autora jest zabronione i stanowi naruszenie praw autorskich, a także podlega karze. Aplikacja oraz zamieszczone na niej treści są własnością autora. 

    </div>
    </div>
</div>