<app-navigation-bar></app-navigation-bar>
<div class="container"> 
    <div style="width: 50%; margin-top: 100px; margin-left: auto; margin-right: auto;">
    <b> Opis i cel powstania: </b>
    <div class="description">
        Muzyczny GPS to muzykoterapeutyczna aplikacja internetowa skierowana do dzieci z niepełnosprawnością wzroku. Umożliwia ona rehabilitację oraz edukację tej grupy.  Poprzez specjalnie zaprojektowane gry terapeutyczne, korzystający z niej podopieczni, mają szansę na rozwój swoich umiejętności poznawczych, a także poprawę funkcjonowania emocjonalnego oraz psychicznego. Dzięki zastosowaniu poziomów trudności każdą grę można dostosować do indywidualnych potrzeb dziecka. Budowa zarówno strony, jak i gier terapeutycznych pozawala na samodzielne korzystanie, co przyczynia się do poczucia sprawczości oraz wzmocnienia własnej wartości u podopiecznych. Dzieci poprzez wykonywane zadania w grach poszerzają swoją wiedzę muzyczną, a także utrwalają wiadomości występujące w podstawie programowej (np. znajomość pór roku, miesięcy, dni tygodnia, itd). Aplikacja wspomaga działania terapeutyczne prowadzone w ramach muzykoterapii. 
        Aplikacja powstała na bazie autorskiego projektu łączącego wiedzę z zakresu pedagogiki specjalnej, informatyki oraz tyflomuzykoterapii. 

    </div>
    </div>
</div>
