<app-navigation-bar></app-navigation-bar>
<div class="container"> 
    <div style="width: 50%; margin-top: 100px; margin-left: auto; margin-right: auto; background-color: yellow; padding: 15px; border-radius: 10px;">
    <b> Opis i cel powstania: </b>
    </div>
    <div style="width: 50%; margin-top: 20px; margin-left: auto; margin-right: auto; background-color: yellow; padding: 15px; border-radius: 10px;">
    <div class="description">
        Muzyczny GPS to muzykoterapeutyczna aplikacja internetowa skierowana do dzieci z niepełnosprawnością wzroku. Służy ona wspieraniu terapii, rehabilitacji i edukacji tej grupy osób. Poprzez specjalnie zaprojektowane gry terapeutyczne możliwe jest rozwijanie ich umiejętności poznawczych oraz emocjonalno-estetycznych. Dzięki zastosowaniu poziomów trudności każdą grę można dostosować do indywidualnych potrzeb dziecka. Budowa zarówno aplikacji, jak i gier terapeutycznych pozwala na samodzielne korzystanie, co przyczynia się do poczucia sprawczości oraz wzmocnienia własnej wartości u podopiecznych. Dzieci poprzez wykonywane zadania w grach poszerzają swoją wiedzę muzyczną. Aplikacja jest przeznaczona do wspomagania oddziaływań tyflomuzykoterapeutycznych.. 
<br />
<br />
        Aplikacja powstała na bazie autorskiego projektu pt. „Muzyczny GPS” łączącego wiedzę z zakresu tyflomuzykoterapii, pedagogiki specjalnej oraz informatyki
.

    </div>
    </div>
</div>
