<app-navigation-bar></app-navigation-bar>
<div class="container"> 
    <div style="width: 50%; margin-top: 100px; margin-left: auto; margin-right: auto; background-color: yellow; padding: 15px; border-radius: 10px;">
    <b> Muzykoterapeutyczne zgadnij kto to, co to? </b>
    </div>
    <div style="width: 50%; margin-top: 20px; margin-left: auto; margin-right: auto; background-color: yellow; padding: 15px; border-radius: 10px;">
    <div class="description">
        Gra polegająca na odgadnięciu w głównej kategorii (pory roku, pory dnia, osoby, miejsca/krajobrazy, regiony Polski, tańce ludowe, postać z bajki) na podstawie usłyszanych przykładów muzycznych. 

    </div>
    </div>


    <div style="width: 50%; margin-top: 100px; margin-left: auto; margin-right: auto; background-color: yellow; padding: 15px; border-radius: 10px;">
        <b>Muzyczne memory  </b>
        </div>
        <div style="width: 50%; margin-top: 20px; margin-left: auto; margin-right: auto; background-color: yellow; padding: 15px; border-radius: 10px;">
        <div class="description">
            Gra polegająca na odnalezieniu obrazowo-dźwiękowych par na planszy. 
    
        </div>
        </div>
</div>